@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v23-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v23-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v23-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v23-latin-900.woff2') format('woff2');
}

:root {
  --bakery-landing-1-background: #faf4ea;
  --bakery-landing-1-s1: #31261a;
  --bakery-landing-1-c2: #819b57;
  --bakery-landing-1-s3: #465929;
  --bakery-landing-1-s4: #a18268;
  --bakery-landing-1-c5: #cfcfbc;
  --beauty-landing-2-background: #fff;
  --beauty-landing-2-s2: #2b7fff;
  --beauty-landing-2-c1: #011c44;
  --beauty-landing-2-c3: #4a4a4a;
  --beauty-landing-2-s4: #ffd02b;
  --beauty-landing-2-s5: #747272;
  --beauty-landing-2-c6: #011f4a;
  --dog-landing-3-background: #fff;
  --dog-landing-3-s1: #ff9f0e;
  --dog-landing-3-s2: #fcb62a;
  --dog-landing-3-c3: #fffaf3;
  --dog-landing-3-c4: #181817;
  --dog-landing-3-c5: #f1f3ff;
  --dog-landing-3-c6: #839aa9;
  --dog-landing-3-s8: #f9f9ff;
  --dog-landing-3-c9: #d9a6ff;
  --dog-landing-3-c10: #ff6e9f;
}

/* Base */

*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: var(--bakery-landing-1-s1);
  background-color: var(--bakery-landing-1-background);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
.a {
  display: inline-block;
}
address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}
/* Button */

.button {
  padding: 16px 32px;
  color: white;
  font-weight: 600;
  background: var(--bakery-landing-1-c2);
  border: 2px solid var(--bakery-landing-1-c2);
  border-radius: 8px;
  cursor: pointer;
}
.button:hover {
  background-color: transparent;
  color: var(--bakery-landing-1-s3);

  /* Link */
}
.link {
  color: var(--bakery-landing-1-background);

  text-decoration: none;
}
.link:hover {
  color: var(--bakery-landing-1-c2);
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* Hero-section */
.hero-section {
  padding: 272px 0;
  background-image: url(../images/hero-section-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.hero-title {
  margin-bottom: 0;
  text-align: center;
  font-weight: 900;
  font-size: 128px;
}
.hero-title .accent-green {
  color: var(--bakery-landing-1-c2);
  font-weight: 900;
}
.hero-title .accent-biege {
  color: var(--bakery-landing-1-background);
}
/* Advantages section */

.advantages-section {
  padding: 16px 0;
  background-color: var(--bakery-landing-1-c2);
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advantages-item {
  font-size: 20px;
  font-weight: 300;
  color: var(--bakery-landing-1-background);
}
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}
.section-title .accent {
  color: var(--bakery-landing-1-s3);
}

/* Traditions-section */
.raditions-section {
  padding-top: 96px;
  padding-bottom: 48px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}
.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--bakery-landing-1-c2);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
  color: var(--bakery-landing-1-c2);
}

.traditions-text.limited {
  max-width: 340px;
}

/* Chefs section */

.chefs-title {
  max-width: 520px;
  margin: 0 auto 80px;
}
.chefs-title::after,
.chefs-title::before {
  display: block;
  width: 352px;
  border: 2px solid var(--bakery-landing-1-c5);
  width: 352px;
  height: 0px;
  content: '';
}

.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--bakery-landing-1-background),
    -16px 16px 0 2px var(--bakery-landing-1-s4);
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}
.chef-text p {
  margin-bottom: 24px;
}
.chef-text p:last-child {
  margin-bottom: 0;
}

/* Format section */
.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}
.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.22%,
    rgba(49, 38, 26, 0.71) 72.92% var(--bakery-landing-1-s1) 100%
  );
  border-radius: 16px;
  border: 1px solid lightgray;
  height: 444px;
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Carusel*/

.carusel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--bakery-landing-1-s1);
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--bakery-landing-1-s1);
  cursor: pointer;
}

.carusel-button:hover {
  background-color: var(--bakery-landing-1-s1);
  fill: var(--bakery-landing-1-background);
}

/* Contact section */
.contact-section {
  padding-bottom: 96px;
}
.contact-container {
  display: flex;
  gap: 32px;
}
.contact-title {
  margin-bottom: 16px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}
/* Footer */
.footer {
  padding: 32px 0;
}
.footer-container {
  display: flex;
  gap: 20px;
}
.footer-nav,
.footer-addres {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.addres-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--bakery-landing-1-background);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--bakery-landing-1-c2);
}

.addres-icon {
  fill: var(--bakery-landing-1-background);
}

.addres-icon:hover {
  fill: var(--bakery-landing-1-c2);
}
.address-copyright {
  font-size: 14px;
  color: var(--bakery-landing-1-s4);
}
.footer {
  background-image: url(../images/footer-backg.png);
  background-color: var(--bakery-landing-1-s1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
