.contact-section {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 24px;
      

    @media screen and (min-width: $bp-tablet) {
             flex-direction: row;
             gap: 32px;
            padding-bottom: 24px;
      
            }
      @media screen and (min-width: $bp-desktop) {
        padding-bottom: 0px;
      } 
        }


    &__title {
        text-align: center;
           margin-bottom: 16px;
           font-family: var(--font-family);
            font-weight: 600;
            font-size: 32px;
            line-height: 131%;
            color: var(--bakery-landing-1-s1);


            @media screen and (min-width: $bp-desktop) {
            font-weight: 900;
            font-size: 64px;
            text-align: left;
         
          

            }
         }


         &__mini {
          color: var(--bakery-landing-1-s3);
         }


    &__form-fieled {

    margin-bottom: 24px;
    
}

    &__button {
    display: block;
     margin: 0 auto 16px;
  
}

    &__map {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
    height: 176px;
    width: 100dvw;
    margin: 0 -24px;


    @media screen and (min-width: $bp-tablet) {
        margin: auto;
        width: 50%;
        height: 390px;
     
    }

@media screen and (min-width: $bp-desktop) {
    width: 600px;
    height: 595px;
   
}
        
}


}